<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cars</title>
  <link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
  <table>
    <thead>
      <tr><% for (h of headers) { %>
        <th><%= h %></th><% } %>
      </tr>
    </thead>
    <tbody>
      <% for (c of cars) { %>
        <tr>
        <% for (h of headers) { %>
          <td><%- c[h] %></td><%} %>
        </tr>
        <% } %>
      </tr>
    </tbody>
  </table>
  <p>
  Generated <span><%= new Date().toString() %></span> from <a href="https://github.com/commaai/openpilot/blob/master/docs/CARS.md">CARS.md</a> using <a href="https://github.com/comma-hacks/best-cars-lowest-prices/blob/master/update.sh">this script</a>.
  </p>
  
  <script>
    $(document).ready( function () {
      $('table').DataTable({
        paging: false
      });
    });
  </script>
</body>
</html>
